@model IEnumerable<UtilityComplaints.Core.Entities.Complaint>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">@localizer["Createcomplaint"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @localizer["District"] <!-- ["District"]--> <!--Html.DisplayNameFor(model => model.District)-->
            </th>
            <th>
                @localizer["Address"] 
            </th>
            <th>
                @localizer["Lat"] 
            </th>
            <th>
                @localizer["Lon"] 
            </th>
            <th>
                @localizer["Description"] 
            </th>
            <th>
                @localizer["Created"] 
            </th>
            <th>
                @localizer["Solved"] 
            </th>
            <th>
                @localizer["Solver"] 
            </th>
            <th>
                @localizer["UtilityCommentary"] 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.District)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solver.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UtilityCommentary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@localizer["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@localizer["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@localizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
